.attendee-text {
  /* Font size of "fas fa-user" => fa-2x */
  line-height: 2em;
}

:host .team-wrapper {
  ::ng-deep img[alt*="emoji_"] {
    height: 64px;
    width: 64px;
  }
}

.recently-joined {
  animation: 3s alternate infinite enlargen; 
}


@keyframes enlargen {
  from {
    font-size: 100%; 
  }

  75% {
    font-size: 200%; 
  }

  to {
    font-size: 300%; 
  }
}
