{
  "title": "${TITLE}",
  "sentryDSN": "${SENTRY_DSN}",
  "apiUrl": "${API_URL}",
  "libUrl": "${LIB_URL}",
  "stompConfig": {
    "endpoint": "${STOMP_ENDPOINT}",
    "user": "${STOMP_USER}",
    "password": "${STOMP_PASSWORD}",
    "vhost": "${STOMP_VHOST}"
  },
  "leaderboardAmount": "${LEADERBOARD_AMOUNT}",
  "enableBonusToken": "${ENABLE_BONUS_TOKEN}",
  "readingConfirmationEnabled": "${READING_CONFIRMATION_ENABLED}",
  "confidenceSliderEnabled": "${CONFIDENCE_SLIDER_ENABLED}",
  "infoAboutTabEnabled": "${INFO_ABOUT_TAB_ENABLED}",
  "infoProjectTabEnabled": "${INFO_PROJECT_TAB_ENABLED}",
  "infoBackendApiEnabled": "${INFO_BACKEND_API_ENABLED}",
  "requireLoginToCreateQuiz": "${REQUIRE_LOGIN_TO_CREATE_QUIZ}",
  "forceQuizTheme": "${FORCE_QUIZ_THEME}",
  "loginMechanism": "${LOGIN_MECHANISM}",
  "showLoginButton": "${SHOW_LOGIN_BUTTON}",
  "showJoinableQuizzes": "${SHOW_JOINABLE_QUIZZES}",
  "showPublicQuizzes": "${SHOW_PUBLIC_QUIZZES}",
  "persistQuizzes": "${PERSIST_QUIZZES}",
  "availableQuizThemes": "${AVAILABLE_QUIZ_THEMES}",
  "defaultTheme": "${DEFAULT_THEME}",
  "darkModeCheckEnabled": "${DARKMODE_CHECK_ENABLED}",
  "enableTwitter": "${ENABLE_TWITTER}",
  "enableQuizPool": "${ENABLE_QUIZ_POOL}",
  "showInfoButtonsInFooter": "${SHOW_INFO_BUTTONS_IN_FOOTER}",
  "vapidPublicKey": "${VAPID_PUBLIC_KEY}"
}
